.bg-white{
    background-color:#fff;
}
.bg-black{
    background-color: #000;
}
.bg-orange{
    background-color: orangered;
}
.tx-white{
    color:white;
}

.btn{
    border-radius: 20px;
    padding: 5px 10px;
    border: none;
}





/* ----black bar logo sony--- */
.ms_header-logo-sony {
    position: relative;
    height: 25px;
}
.ms_header-logo-sony img {
    position: absolute;
    right: 10px;
    top: 25%;
    height: 50%;

}
/* ---------------navbar-------------- */





/* -----------------jumbotron------------- */
.jumbo{
    height: 500px;
    background-image: url("jumbo-bg.png");  
    object-fit: cover;
    background-position: center; 
}
.text_logo_returnal{
    width: 200px;
    padding-top: 70px;
}