.bg-white{
    background-color:#fff;
}
.bg-black{
    background-color: #000;
}
.bg-orange{
    background-color: orangered;
}
.bg-blue{
    background-color: slateblue;
}
.bg-dark-grey{
    background-color: #1f1f1f;
}
.bg-grey-plus {
    background-color: #bebcbb;
}




.tx-white{
    color:white;
}
.tx-blue{
    color:royalblue;
}
.tx-grey{
    color:grey;
}



.btn{
    border-radius: 20px;
    padding: 5px 10px;
    border: none;
    border-width: 2px;
}
.btn:hover{
    box-shadow: inset 0 0 0 5px black;
}

.btn-blue{
    background-color: #2d64e6;
    color: #fff;
}
.btn-white{
    background-color: white;
    color:black;
}


.width-100 {
    width: 100%;
}




/* -----------------TOP BAR LOGO SONY--- */
.ms_header-logo-sony {
    position: relative;
    height: 25px;
}
.ms_header-logo-sony img {
    position: absolute;
    right: 10px;
    top: 25%;
    height: 50%;

}
/* ------------------NAVBAR-------------- */





/* -----------------JUMBOTRON------------- */
.jumbo-1{
    height: 500px;
    background-image: url(../img/jumbo-bg.png);
    background-position: center center;
    background-size: cover;
}
.text_logo_returnal{
    width: 200px;
    padding-top: 70px;
}

/* ------------------SECTION 1 ALBUM GAMES--------- */
.game_album{
    border-radius: 10px;
}



/* ---------------------SECTION-2--------------------- */
.p-5{
    padding:6rem!important;
}
.box_1_ps5{
    margin-top: 130px !important;
}

/* ----------------SECTION 3 (carousel)---------------- */
.flex{
    display: flex;
}
.js-center{
    display: flex;
    justify-content: center;
}

.section-100-width:hover{
    opacity: 0.7;
    transition: all 0.7s;
}
.font-size {
    font-size: 12px;
}

/* -----------------SECTION-4-(it takes two)-------------------- */
.jumbo-2{
    height: 700px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    
    object-fit: cover;
    background-position: center center; 
}

.text-logo-it-takes-two{
    width: 400px;
    padding-top: 70px;
}

/* ------------------SECTION-5--(nuove uscite)----------------- */








/* ----------------------SECTION-6--(esplora playstation 4)--------- */



/* -------------------------SECTION-7--(playstation-sette)----------------- */
.ms_plus-bg p {
    margin: 30px 0;
}
.section7-img{
    width: 250px;
}
.section7-button {
    border: 2px solid #d9dadc;
}
.section7-button:hover {
    border: 2px solid #fff;
    color: white;
    transition: all 0.1s;
}


/* ----------------------SECTION-8--(nuovi sconti)--------- */
.jumbo-3{
    background-color: #161c3b;
}
.jumbo-3 p{
    font-size: 20px;
    color:white;
}
.play-logo{
    margin:40px 0;
    width: 200px;
}

/* ----------------------SECTION-9--(social media)------------- */


